[Unit]
Description=Wifibroadcast server
After=network.target
StartLimitInterval=20
StartLimitBurst=210

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/sbin/wfb_server/wfb_server
User=root
TimeoutStopSec=100ms
KillMode=control-group
Restart=always
RestartSec=100ms

[Install]
WantedBy=multi-user.target
