[DEFAULT]
rx_key = /etc/rx.key
tx_key = /etc/tx.key
channel = 161
radio_port = 0
i_link_id = 7669206
bandwidth = 20
bw_pf =
wlan = waln0
g_guard_interval = long
s_stbc = 1
l_ldpc = 1
m_mcs_index = 1
k_rs_k = 8
n_rs_n = 12
t_poll_timeout = 0
udp_port = 5600
rx_log_int = 1000
ip = 127.0.0.1
udp_tx_ip = 127.0.0.1
udp_tx_port = 5602
udp_tx_pksize = 1024
udp_tx_pks = 512
udp_tx_lid = 1
udp_rx_ip = 127.0.0.1
udp_rx_port = 5600
udp_rx_mpksize = 1536
udp_rx_mode = 2
run = False

[wlan_1]
channel = 64
wlan = wlx00c0cab1b057 wlx00c0cab0396b wlx00c0cab1b57f

[rx_video]
rx_key = /etc/gs.key
radio_port = 10
i_link_id = 7669206
udp_port = 5600
ip= 127.0.0.1
[rx_telem]
rx_key = /etc/gs.key
radio_port = 20
i_link_id = 7669206
udp_port = 14775
ip = 192.168.144.75

[wlan_2]
channel = 161
wlan = wlx00c0cab1b57e

[rx_video_retr]
rx_key = /etc/gs.key
radio_port = 10
i_link_id = 7669206
udp_port = 5600
ip= 127.0.0.1

[rz_mavproxy]
#run rz_mavproxy

[udp_proxy_rx]
#run udp_proxy_rx
